:root {
    --outer-color: black;
    --bg-color: cornflowerblue;
    --interface-height: 30%;
    --interface-bg-color: rgba(255, 192, 203, 0.15);
    --name-size: 4.5vh;
    --name-stroke-width: 0.07vh;
    --name-stroke-color: black;
    --text-size: 3.5vh;
}

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--outer-color);
}

#startup {
    position: absolute;
    background-color: cornflowerblue;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    position: absolute;
    background-size: cover;
}

#interface {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--interface-height);
    padding: 1%;
    background-color: var(--interface-bg-color);
    display: flex;
    justify-content: center;
}

#main {
    width: 65%;
    height: 100%;
}

#name {
    width: 100%;
    height: 20%;
    font-size: var(--name-size);
    color: white;
    vertical-align: middle;
    -webkit-text-stroke-width: var(--name-stroke-width);
    -webkit-text-stroke-color: var(--name-stroke-color);
}

#text {
    width: 100%;
    height: 80%;
    padding: 1% 5%;
    font-size: var(--text-size);
}